* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(72, 122, 120);
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
}

header h1 {
    color: #e9e6d4;
    padding: 50px 0 30px 50px;
    text-shadow: 2px 2px black;
}

.vertical_menu {
    width: 40%;
    max-width: 300px;
    float: left;
    display: flex;
    flex-direction: column;

}

.vertical_menu a {
    color: #e9e6d4;
    display: block;
    padding: 8px 0 8px 20px;
    margin: 8px 0 8px 50px;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;

}

.vertical_menu a:hover {
    background-color: rgb(63, 110, 109);
    box-shadow: 5px 5px 10px black;
}

#menu_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

#logoutBtn {
    background-color: #cfcec6;
    padding: 10px;
    font-size: 16px;
    width: 50%;
    max-width: 150px;
    margin: 10px 0 0 50px;
    border-radius: 5px;
}

#logoutBtn:hover {
    background-color: #cfcec6;
    box-shadow: 5px 5px 10px black;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 60%;
    max-width: 1200px;
    min-height: 70vh;
    margin: auto;
    background-color: rgb(230, 224, 217);
    margin-top: -250px;
    margin-bottom: 100px;
}

main h1 {
    text-align: center;
    padding: 60px 0 10px 0;
    font-size: 40px;
}

#foodSection,
#drinkSection {
    padding-bottom: 50px;
    margin: auto;
    width: 100%;
}

#foodSection,
#drinkSection {
    margin: 30px 0 10px 0;
}

h2,
h3 {
    margin: 30px 0 10px 20px;
}

/* Table */
table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    overflow-x: auto; /* horizontal scrolling */
}

table,
th,
td {
    border: 1px solid lightgrey;
}

th,
td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

#addDrinkButton,
#addFoodButton {
    background-color: rgb(72, 122, 120);
    color: #fff;
    width: 20%;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px auto 0 20px;
}

.btn {
    padding: 6px 12px;
    margin: auto;
    cursor: pointer;
    border: none;
}

/* Pencil symbol for edit */
.btn-edit::before {
    content: '\270E';
}

/* Cross symbol for delete*/
.btn-delete::before {
    content: '\2716';
}

/* BOOKINGS */

#bookingTitle {
    text-align: center;
}

#bookingList {
    list-style: none;
    padding: 20px; 
    width: 100%;  
    max-width: 300px; 
    margin: auto;
}

#bookingList li{    
    padding: 10px;    
}

#bookingList button{    
    padding: 5px 20px; 
    margin: 3px; 
    background-color: rgb(102, 95, 95);
    border-radius: 5px;
    color: #fff;
}

#updateBookingForm label{
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

#updateBookingForm input {
    font-size: 14px;
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

#updateBookingForm button {
    background-color: rgb(72, 122, 120);
    color: #fff;
    width: 60%;
    padding: 8px 0;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px auto;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

#Modal label {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

#updateModal select {
    width: 100%;
    font-size: 16px;
    height: 30px;

}

#updateModal input {
    font-size: 14px;
    width: 100%;
    height: 30px;
}

#description {
    font-size: 14px;
    width: 100%;
    height: 60px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalFieldMessage {
    color: rgb(194, 85, 35);
    font-size: 14px;
}

#submitBtn, #addFoodSubmitBtn, #addDrinkSubmitBtn {
    background-color: rgb(72, 122, 120);
    color: #fff;
    width: 60%;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px auto;
}

#addFoodModal input{
    font-size: 14px;
    width: 100%;
    height: 30px;
}


#addFoodModal select{
    width: 100%;
    font-size: 16px;
    height: 30px;
}

#addDrinkModal input {
    font-size: 14px;
    width: 100%;
    height: 30px;
}

#addDrinkModal select {
    width: 100%;
    font-size: 16px;
    height: 30px;
}


@media screen and (max-width: 1600px)  and (min-width: 901px){

    main {
        float: right;
        margin-right: 10px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto; /* horizontal scrolling */
        padding: 0;
        margin: 0;
    }

    th,
    td {
        padding: 10px 0px;
        text-align: center;
        font-size: 14px;
        margin: 0;
    }

    #foodSection,
    #drinkSection,
    #registrationSection {
        margin: 30px 0 10px 0;
        padding: 0;
        width: 95%;
        max-width: 900px;
        margin: auto;
    }

    #addDrinkButton,
    #addFoodButton {
        width: 100%;
        max-width: 400px;
        margin-left: 20px;       
    }

}

@media screen and (max-width: 900px) {
   
    header h1 {       
        padding: 50px 0;
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    #menu_container {
        width: 100%;
    }
    
    .vertical_menu {
        width: 100%;
        max-width: 300px;
        margin: auto;
        float: none;
        display: block;
        flex-direction: row;

    }

    .vertical_menu a {
        padding: 8px 5px ;
        margin: 5px auto;  
    }

    #logoutBtn {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }

    main {
        float:none;
        width: 100%;
        margin-top: 20px;
        margin-right:0;
        font-size: 14px;
        text-align: center;
    }

    main h1 {
        padding: 60px 0 0 0;
        font-size: 24px;
    }

    #foodSection,
    #drinkSection,
    #registrationSection {
        margin: 30px 0 10px 0;
        width: 98%;
        max-width: 900px;
        margin: auto;
    }

    h2 {
        margin: 50px 0 20px 10px;
        font-size: 32px;
    }  
    
    h3 {
        margin: 50px 0 20px 10px;
        font-size: 24px;
    }

    
    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto; /* horizontal scrolling */
    }

    th,
    td {
        padding: 10px 0px;
        text-align: center;
        font-size: 12px;
    }

    #addDrinkButton,
    #addFoodButton {
        width: 80%;
    }

    .btn {
        padding: 5px 5px;
    }

    /* Pencil symbol for edit */
    .btn-edit::before {
        content: '\270E';
    }

    /* Cross symbol for delete*/
    .btn-delete::before {
        content: '\2716';
    }

    /* Register new user*/
    #regForm {
        padding: 10px 0;
        margin: auto;
    }


}