/* CSS FOR MAIN */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/* HIDE LINK JUST FOR BUILD */
#link_admin {
    display: none;
}

/* BACKGROUND VIDEO STARTPAGE*/
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 4;
}

/* LOGO NAME */
#header_name {
    width: 300px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    z-index: 5;
}

/* NAVIGATION */
nav {
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
}


nav ul {
    list-style: none;
    display: flex;
    float: right;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #d8d2b2;
    white-space: nowrap;
}
/* HIDING OPEN-MENU BUTTON ON BIG SCREENS */
.menu-btn {
    display: none;
}

/* LOGIN BUTTON */
#lock {
    font-size: 20px;
}

/* HERO WITH LOGO AND BOOKING BUTTON */
#div_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
}

#div_hero img {
    max-width: 100%;
    height: auto;
}

#boka_btn {
    margin-top: 20px;
    border: 3px solid #d8d2b2;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);

}

#boka_btn a {
    font-size: 24px;
    color: #d8d2b2;
    text-decoration: none;
}

/* PRESENTATION OF ETOILE */
#div_etoile {
    width: 100%;
    height: 700px;
    background-color: #3f3e3c;
    padding: 100px 0 50px 0;
}

#presentation {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#presentation img {
    max-height: 500px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#welcome {
    font-size: 1.8em;
    line-height: 1.1em;
    color: #d8d2b2;
    text-align: center;
    margin-top: 100px;
}

#presentation p {
    max-height: 500px;
    padding: 50px 0 0 30px;
    font-size: 1.2em;
    color: #d8d2b2;
}

/* BOOK A TABLE */
#div_booking {
    width: 100%;
    min-height: 150px;
    background-color: #f7f5ed;
    padding-top: 200px;
    padding-bottom: 500px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
}

#div_booking h2 {
    font-size: 1.4em;
}

#bookingForm {
    width: 50%;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #665d4b;
    color: #d8d2b2;
}

#bookingForm #time,
#bookingForm #date {
    width: 120px;
}

#bookingForm #guests {
    width: 120px;
}

#div_booking input {
    height: 28px;
    width: 98%;
}

#bookingBtn {
    padding: 10px 0;
    width: 100%;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    background-color: #d8d2b2;
}

#bookingBtn:hover {
    box-shadow: 5px 5px 10px black;
}

#messageBooking {
    font-size: 36px;
    color: #ecebe1;
    margin: 0 0 10px 0;
    text-align: center;
}

/* CONTACT */
#div_find {
    width: 100%;
    min-height: 150px;
    background-color: #f7f5ed;
    text-align: center;
    padding-bottom: 430px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
}

#div_find h2 {
    font-size: 42px;
}



@media screen and (max-width: 1000px) {

    nav {
        font-size: 1.1em;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.99);
        display: none;
    }

    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 20px auto;
        float: none;
        display: block;
    }

    nav li {
        width: 100%;
        padding: 20px 0;
    }

    nav li:hover {
        text-decoration: underline 3px solid #d8d2b2;
    }

    /* Menu button to open menu */
    .menu-btn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: transparent;
        border: none;
        position: fixed;
        top: 20px;
        right: 10px;
    }

    .open {
        margin: 0 1em;
    }


    .menu-btn:hover {
        cursor: pointer;
    }

    .menu-icon {
        margin-right: 10px;        
    }
    
    #open-menu {
        margin-top: 30px;
        margin-right: 30px;   
    }

    /* burgermenu bars */
    .bars {
        display: block;
        width: 40px;
        height: 5px;
        background-color: #d8d2b2;
        margin: 7px 0;
    }

    .close {
        margin: 1em 1.5em;
        padding: 10px;
    }

    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: -8px;
        border-radius: 5px;
    }

    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -20px;
        border-radius: 5px;
    }

    .nav-scroll {
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
    }

    #div_etoile {
        width: 100%;
        height: auto;
        background-color: rgb(63, 62, 60);
    }

    #presentation {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        height: auto;
    }

    #presentation img {
        max-height: 500px;
        width: auto;
        margin: 30px auto;
    }

    #presentation p {
        display: block;
        width: 90%;
        margin: auto;
        max-height: 1000px;
        padding: 0 0 100px 0;
    }
}

@media screen and (max-width: 650px) {

    #bookingForm {
        width: 80%;
        max-width: 650px;
    }

    #header_name {
        width: 200px;
        padding-top: 20px;
        padding-left: 20px;
        z-index: 2;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.99);
    }

    #open-menu {
        margin-top: 20px;
        margin-right: 30px;   
    }
}