
/* MENU */
#div_meny {
    width: 100%;
    min-height: 100vh;
    background-color: #f7f5ed;
    text-align: center; 
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;  
    padding-bottom: 200px;
}

/* Headline MENU */
#div_meny h2 {
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
}

/* Headlines food categories */
#div_meny h3 {
    font-size: 34px;
    display: inline-block;
    border-bottom: 2px solid  #d8d2b2;
    width: 90%;
    max-width: 800px; 
    margin-top: 100px;
    margin-bottom: 30px; 
    padding-bottom: 10px;
}

/* container for ALL food */
#smårätter, #varmrätt, #dessert, #drinks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

/* one food item */
.menu-item {
    padding: 15px; 
    flex: 1 1 calc(50% - 40px); /* Take up 50% of the width minus gap */
    box-sizing: border-box;   
    max-width: 400px;       
    margin: 10px;      
    flex: 1 1 calc(30% - 40px);
}

.menu-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.menu-item p {
    font-size: 1.1em;
    margin: 5px 0;
    color: #666;
}

.menu-item p:last-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

/* Headlines drinks categories */
#div_meny h3 {
    font-size: 34px;
    display: inline-block;
    border-bottom: 2px solid  #d8d2b2;
    width: 90%;
    max-width: 600px; 
    margin-top: 150px;
    margin-bottom: 30px; 
    padding-bottom: 10px;
}

/* container for ALL drinks */
#white, #red, #rose, #champagne, #drinks, #beer, #alcoholfree {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

/* Layout for smaller screens than 600px*/
@media screen and (max-width: 600px) {
    .menu-item {
        flex: 1 1 100%; /* Ta upp hela bredden på små skärmar */
        font-size: 0.9em;
    }

    .menu-item {
        padding: 10px;
        margin: 0 10px; 
    }

    #div_meny h3 {
        margin-top: 100px;
        margin-bottom: 10px; 
        padding-bottom: 20px;
    }
}